.App {
  text-align: center;

}
body {
  background-color: #5b6f96;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-container {
  background-color: #5b6f96;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 45px;
}

.App-link {
  color: #61dafb;
}


